*{
    box-sizing: border-box;

    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body{
    height : 100vh;
}
body{
    font-family: 'Poppins', sans-serif;
    margin : 0px;
}




header{
    background-image : url('./images/Car-bg.jpg');
    color : white;
    background-size: cover;
    display : flex;
    flex-direction : column;
    background-position: center center;
    align-items: flex-start;
    min-height: calc(100vh - 100px);

    
}




nav{
    display : flex;
    justify-content : space-between;
    
    
}


.container{
    margin : 0 auto;
    width:  1000px;
    max-width:  100%;
    padding : 0 1rem;
}



nav .logo{
    font-size: 2.5rem;
}

nav ul{
    display : flex;
    list-style: none;
    padding: 0;
}

nav li a{
    color : white;
    padding : 1rem ;
    text-decoration: none;
}

.selected{
   font-weight: bold;
}



 .content{
    margin: auto;
    font-size: 1.5rem;    
    max-width:  100%;
}

.content h1{
    color : #00C2FF;
    margin-bottom: 0;
}


.highlight{
    background-color : #00C2FF;
    color : white;
    padding : 1rem;
    text-decoration: none;
}


footer{
    background-color: black;
    color : white;
    padding : 1rem;

}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content :space-between;

}

footer strong {
    color : #00C2FF;
}

footer p{
    margin  : 0;
}

@media screen and (max-width : 700px){
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }

    nav li:not(:last-child){
        margin : 1rem;
    }
    nav .highlight {
        display: none;
    }
    footer ul {
        flex-direction: column;
        justify-content : center;
    }
    footer li{
        margin : 1rem;
        text-align: center;
    }
    .content{
        font-size: 1.2rem;
        margin : 2rem auto 0;
    }
}
