@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
}
body{
    margin : 0;
    font-family: 'Roboto', sans-serif;

}

header{
    min-height: 100vh;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center center;
    
        
}

a{
    color : white;
    text-decoration: none;
}


.container{
    width : 1000px;
    max-width: 100%;
    margin : 0 auto;
    padding : 1rem;
   
}



.pre-nav{
    font-size: 2rem;
    display : flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    color : #026E78;
    font-weight: bold;
    font-size: 2.5rem;
    color : white;
}
nav{
    padding : 0.5rem 0;
    
}
nav ul{
list-style-type: none;
padding : 0;
display: flex;
flex-wrap: wrap;
}


nav li{
    flex:1 auto;
}

nav li a{
    background-color: #2d99a4;
    padding : 1rem 2rem;
    display: block;
    text-align: center;
}

nav a.active{
    background-color: #fff ;
    color: #026E78;
    font-weight: bold;
}


nav a.highlight{
    background-color: #026E78;
    color : white;
}


nav a:hover{
    opacity: 0.8;
}

.content{
    margin-top : 5rem ;
    font-size: 2rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.content h1{
background-color: #026E78;
color : white;
display: inline-block;
padding : 1rem;
font-weight: 200;
}

.white{
background-color: white;
color : #026E78;
padding : 1rem;
}

.teal-link{
background-color:#026E78 ;
color : white;
padding: 1rem;
margin-top: 1rem;

}

@media screen and (max-width :768px){
    .pre-nav{
        flex-direction: column;
        justify-content: center;
    }
    


    .content{
        font-size: 1.5rem;
    }

}