*{
    margin : 0 ;
    padding : 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    height : 100vh;
    width : 100%;
    background:url('/images/carbg.jpg');
    background-position: center center;
    background-size: cover;
    color : #fff;
    position : relative:
  
}

nav{
    display : flex;
    padding : 20px 100px;
    align-items:baseline;
    justify-content:space-between;
}

nav .logo{
    font-size : 2rem;
}

nav ul {
    text-align:right;
    display : inline;
    list-style: none;

}

nav ul li{
   display : inline-block;
   margin : 0 20px;
}
nav ul li:hover{
    border : 1px solid dodgerblue;
}

.main-text {
    text-align:center;
    position : absolute;
    top : 50%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.main-text h1{
    font-size : 40px;
}

.main-text .button {
    display :block;
    text-decoration: none;
    width : 140px;
    height : 35px;
    margin : 25px auto;
    color : white;
    border : 1px solid white;
    line-height: 35px;

}



.button:hover{
    background : dodgerblue;

}